body {
    background-color: beige;
}

header {
    background-color: rgb(223, 237, 237);
}

footer {
    background-color: rgb(64, 64, 64);   
    color: rgb(255, 255, 255);
    height: 70px;
    text-align: center;
}

.red {
    background-color: rgb(205, 0, 0);
}

.col-4 {
    background-color: rgb(153, 255, 0);
}

.col-6 {
    background-color: rgb(255, 242, 0);
}

.col-2 {
    background-color: rgb(0, 251, 255);
}